language: node_js
node_js:
- 4
sudo: false
cache:
  directories:
  - node_modules
notifications:
  email: false
before_script:
- npm prune
after_success:
- npm run test:coverage && npm run test:coverage:upload
- if [[ $TRAVIS_BRANCH == 'master' && $TRAVIS_PULL_REQUEST == 'false' ]]; then npm run docs && npm run deploydocs; fi
- npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
